# Remember to list implicit packages here, otherwise version won't be fixated!
importlib-metadata
argcomplete
prettytable
pytz
python-dateutil
pyyaml
jsonschema
jsonpath-rw
requests
six
sseclient-py
python-editor
prompt-toolkit
cryptography
orjson
# needed by requests
chardet
