# Remeber to list implicit packages here, otherwise version won't be fixated!
argcomplete
prettytable
pytz
python-dateutil
pyyaml
jsonschema
jsonpath-rw
requests
six
sseclient-py
python-editor
prompt-toolkit
cryptography
more-itertools==5.0.0
