# Don't edit this file. It's generated automatically!
argcomplete
jsonpath-rw==1.4.0
prettytable
prompt-toolkit==1.0.15
python-dateutil
python-editor==1.0.3
pytz==2018.4
pyyaml<4.0,>=3.12
requests[security]<2.15,>=2.14.1
six==1.11.0
sseclient==0.0.19
