# Don't edit this file. It's generated automatically!
argcomplete
jsonpath-rw>=1.3.0
prettytable
prompt-toolkit==1.0.7
python-dateutil
python-editor==1.0.1
pytz
pyyaml<4.0,>=3.11
requests[security]<2.12,>=2.11.1
six==1.10.0
sseclient==0.0.12
