# Don't edit this file. It's generated automatically!
argcomplete
cryptography==2.4.1
jsonpath-rw==1.4.0
jsonschema==2.6.0
prettytable
prompt-toolkit==1.0.15
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.7
pyyaml<5.2,>=4.2b4
requests[security]<2.15,>=2.14.1
six==1.11.0
sseclient==0.0.19
