@column-width: 640px;

#sk0-layout {
  #center-column {
    width: @column-width;
    margin: 0 auto;
  }

  #ul-clean {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #center-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #wizard-step {
    &__title {
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0;
    }
  }
}
