@column-width: 640px;

#sk0-layout {
  #center-column {
    width: @column-width;
    margin: 0 auto;
  }

  #ul-clean {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #center-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
