@import (inline) "../components/normalize-css/normalize.css";

@import "fonts";
@import "layout";
@import "colors";

body {
  background-color: @body-bg-color;
  font-size: 14px;
}

.main {
  #sk0-layout > #center-column;
  #sk0-fonts > #body;

  position: relative;
}
