*.py[cod]
*.sqlite
*.swp
*.log
*/requirements.txt
!st2client/requirements.txt
.stamp*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.venv
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib64
virtualenv
virtualenv-osx

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
cover
coverage*.xml
.tox
nosetests.xml

# Mr Developer
.idea
.DS_Store
._*
.vscode
*.sublime-project
*.sublime-workspace
.envrc

# Editor Saves
*~
\#*\#
