*.py[cod]
*.sqlite
*.swp
*.log

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.venv
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib64
virtualenv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
cover
coverage*.xml
.tox
nosetests.xml

# Mr Developer
.idea
.DS_Store
._*

