*.py[cod]
*.sqlite
*.swp
*.log
*/requirements.txt
!st2client/requirements.txt
.stamp*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.venv
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib64
virtualenv
virtualenv-py3
virtualenv-osx
virtualenv-st2client
virtualenv-st2client-osx
.venv-st2devbox

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.integration.*
.coverage.integration
.coverage.unit.*
.coverage.unit
cover
coverage*.xml
.tox
nosetests.xml
htmlcov

# Mr Developer
.idea
.DS_Store
._*
.vscode
*.sublime-project
*.sublime-workspace

# Editor Saves
*~
\#*\#
