# Used old infrastructure, needed for integration tests:
# http://docs.travis-ci.com/user/workers/standard-infrastructure/
sudo: required
dist: precise
language: python

branches:
  only:
    - master
    - /^v[0-9]+\.[0-9]+$/

env:
  global:
    # NOTE: We only enable coverage for master builds and not pull requests
    # since it has huge performance overhead (etests are 50% or so slower)
    - ENABLE_COVERAGE=$([ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "yes" || echo "no")
    # We need to explicitly specify terminal width otherwise some CLI tests fail on container
    # environments where small terminal size is used.
    - COLUMNS=120
    - PYLINT_CONCURRENCY=2
    # We only run tests with "--with-timer" flag on master and not for PRs since it adds 1-2
    # # minutes of overhead to each build.
    - NOSE_TIME=$([ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "yes" || echo "no")
matrix:
  include:
    # NOTE: We combine builds because Travis offers a maximum of 5 concurrent
    # builds and having 6 tasks / builds means 1 tasks will need to wait for one
    # of the other 5 tasks to finish before it can start
    # NOTE: Thresholds only apply to the make target and not to the whole build
    # job which also includes "make requirements" and other steps
    # "make requirements" can take substantially lower if the cache is purged
    # and this would cause too many intermediate failures / false positives
    - env: TASK=ci-unit CACHE_NAME=py2 COMMAND_THRESHOLD=700
      python: 2.7
      name: "Unit Tests (Python 2.7 MongoDB 3.4)"
    #- env: TASK=ci-unit CACHE_NAME=py2 COMMAND_THRESHOLD=700
      #python: 2.7
      #name: "Unit Tests (Python 2.7 MongoDB 3.6)"
      #addons:
      #  apt:
      #    sources:
      #      - mongodb-upstart
      #      - sourceline: 'deb [arch=amd64] http://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.6 multiverse'
      #        key_url: 'https://www.mongodb.org/static/pgp/server-3.6.asc'
      #      - sourceline: 'ppa:git-core/ppa'
      #    packages:
      #      - mongodb-org-server
      #      - mongodb-org-shell
      #      - git
    - env: TASK=ci-integration CACHE_NAME=py2 COMMAND_THRESHOLD=700
      python: 2.7
      name: "Integration Tests (Python 2.7)"
    - env: TASK="ci-checks ci-packs-tests" CACHE_NAME=py2 COMMAND_THRESHOLD=280
      python: 2.7
      name: "Lint Checks, Packs Tests (Python 2.7)"
    - env: TASK="compilepy3 ci-py3-unit" CACHE_NAME=py3 COMMAND_THRESHOLD=680
      python: 3.6
      name: "Unit Tests (Python 3.6)"
    - env: TASK="ci-py3-integration" CACHE_NAME=py3 COMMAND_THRESHOLD=310
      python: 3.6
      name: "Integration Tests (Python 3.6)"
addons:
  apt:
    sources:
      - sourceline: 'ppa:git-core/ppa'
    packages:
      - git

services:
  - rabbitmq

cache:
  pip: true
  directories:
    # NOTE: If using a custom "install" step aka overriding "install" step, "cache.pip: true" doesn't work
    # and directory needs to be explicitly added to the cache.
    # See https://github.com/travis-ci/travis-ci/issues/3239, https://github.com/oppia/oppia/pull/5281 for details.
    - $HOME/.cache/pip
    - virtualenv/
    # NOTE: Caching .tox speeds up py3 build for 30-60 seconds, but causes issues when dependencies
    # are updated so it's disabled
    #- .tox/

before_install:
  # Work around for Travis timeout issues, see https://github.com/travis-ci/travis-ci/issues/9112
  - sudo apt-get update --option Acquire::Retries=100 --option Acquire::http::Timeout="60"
  - pip install --upgrade "pip>=9.0,<9.1"
  - sudo pip install --upgrade "virtualenv==15.1.0"

install:
  - ./scripts/travis/install-requirements.sh
  - if [ "${TASK}" = 'ci-unit' ] || [ "${TASK}" = 'ci-integration' ] || [ "${TASK}" = 'compilepy3 ci-py3-unit' ] || [ "${TASK}" = 'ci-py3-integration' ]; then sudo .circle/add-itest-user.sh; fi

# Let's enable rabbitmqadmin
# See https://github.com/messagebus/lapine/wiki/Testing-on-Travis.
before_script:
  # key_url no longer works for APT addon
  - curl https://www.mongodb.org/static/pgp/server-3.4.asc | sudo apt-key add -
  - echo "deb [arch=amd64] http://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.4 multiverse" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
  - sudo apt-get install mongodb-org-server mongodb-org-shell -y
  # Use a custom mongod.conf which uses various speed optimizations
  - sudo cp scripts/travis/mongod.conf /etc/mongod.conf
  # Clean up any old MongoDB 3.4 data files laying around and make sure mongodb user can write to it
  - sudo rm -rf /var/lib/mongodb ; sudo mkdir /var/lib/mongodb ; sudo chown -R mongodb:mongodb /var/lib/mongodb
  - sudo service mongod restart ; sleep 5
  - sudo service mongod status
  - tail -30 /var/log/mongodb/mongod.log
  - mongod --version
  - git --version
  - pip --version
  - virtualenv --version
  - sudo rabbitmq-plugins enable rabbitmq_management
  - sudo wget http://guest:guest@localhost:15672/cli/rabbitmqadmin -O /usr/local/bin/rabbitmqadmin
  - sudo chmod +x /usr/local/bin/rabbitmqadmin
  - sudo service rabbitmq-server restart
  # Print out various environment variables info
  - make play

script:
  # NOTE: We enable code coverage and per test timing information on master so build can take twice
  # as long as PR builds
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then COMMAND_THRESHOLD=$(expr ${COMMAND_THRESHOLD} \* 2); fi; ./scripts/travis/time-command.sh "make ${TASK}" ${COMMAND_THRESHOLD}
  # NOTE: We only generate and submit coverage report for master and version branches
  # NOTE: We put this here and not after_success so build is marked as failed if this step fails
  # See https://docs.travis-ci.com/user/customizing-the-build/#breaking-the-build
  # https://github.com/travis-ci/travis-ci/issues/758#issuecomment-266756853
  - if [ ${TASK} = 'ci-unit' ] || [ ${TASK} = 'ci-integration' ] && [ "${ENABLE_COVERAGE}" = 'yes' ]; then ./scripts/travis/submit-codecov-coverage.sh; fi

# Don't store cache for target PR branch (typically `master`), because it will be re-used for opened PRs
# See: https://docs.travis-ci.com/user/caching/#Pull-request-builds-and-caches
# Alternative: use strict pip pinning, including git-based pip packages
before_cache:
  - if [ ${TRAVIS_PULL_REQUEST} = 'false' ]; then rm -rf virtualenv/; fi
