# Used old infrastructure, needed for integration tests:
# http://docs.travis-ci.com/user/workers/standard-infrastructure/
sudo: required
dist: precise
language: python

branches:
  only:
    - master
    - /^v[0-9]+\.[0-9]+$/

env:
  global:
    - CACHE_NAME=JOB1
matrix:
  include:
    - env: TASK=ci-unit NODE_INDEX=0 NODE_TOTAL=2
      python: 2.7
    - env: TASK=ci-unit NODE_INDEX=1 NODE_TOTAL=2
      python: 2.7
    - env: TASK=ci-integration
      python: 2.7
    - env: TASK="ci-checks ci-packs-tests"
      python: 2.7
    - env: TASK="compilepy3 ci-py3-unit" CACHE_NAME=py3
      python: 3.6
addons:
  apt:
    sources:
      - mongodb-upstart
      - sourceline: 'deb [arch=amd64] http://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.4 multiverse'
        key_url: 'https://www.mongodb.org/static/pgp/server-3.4.asc'
      - sourceline: 'ppa:git-core/ppa'
    packages:
      - mongodb-org-server
      - mongodb-org-shell
      - git

services:
  - mongodb
  - rabbitmq

cache:
  pip: true
  directories:
    - virtualenv/
    - .tox/

before_install:
  # Work around for Travis timeout issues, see https://github.com/travis-ci/travis-ci/issues/9112
  - sudo apt-get update --option Acquire::Retries=100 --option Acquire::http::Timeout="60"
  - pip install --upgrade "pip>=9.0,<9.1"
  - sudo pip install --upgrade "virtualenv==15.1.0"

install:
  - if [ "${TASK}" = 'compilepy3 ci-py3-unit' ]; then pip install "tox==3.0.0"; else make requirements; fi
  - if [ "${TASK}" = 'ci-unit' ] || [ "${TASK}" = 'ci-integration' ]; then pip install codecov; fi
  - if [ "${TASK}" = 'ci-unit' ] || [ "${TASK}" = 'ci-integration' ] || [ "${TASK}" = 'compilepy3 ci-py3-unit' ]; then sudo .circle/add-itest-user.sh; fi

# Let's enable rabbitmqadmin
# See https://github.com/messagebus/lapine/wiki/Testing-on-Travis.
before_script:
  - git --version
  - pip --version
  - virtualenv --version
  - sudo rabbitmq-plugins enable rabbitmq_management
  - sudo wget http://guest:guest@localhost:15672/cli/rabbitmqadmin -O /usr/local/bin/rabbitmqadmin
  - sudo chmod +x /usr/local/bin/rabbitmqadmin
  - sudo service rabbitmq-server restart

script:
  - make ${TASK}

# Don't store cache for target PR branch (typically `master`), because it will be re-used for opened PRs
# See: https://docs.travis-ci.com/user/caching/#Pull-request-builds-and-caches
# Alternative: use strict pip pinning, including git-based pip packages
before_cache:
  - if [ ${TRAVIS_PULL_REQUEST} = 'false' ]; then rm -rf virtualenv/; fi

after_success:
  - if [ ${TASK} = 'ci-unit' ] || [ ${TASK} = 'ci-integration' ]; then codecov; fi

# https://docs.travis-ci.com/user/notifications/#Webhooks-Delivery-Format
#notifications:
#  webhooks:
#    #- https://ci-webhooks.stackstorm.net/webhooks/build/events
#    # See: webhook.site/#/06fde88c-1610-4c85-ba4e-d9bcacfefe4c
#    - http://webhook.site/06fde88c-1610-4c85-ba4e-d9bcacfefe4c
