language: python
sudo: false
python:
  - "2.6"
  - "2.7"
env:
  global:
    - "PIP_DOWNLOAD_CACHE=$HOME/.pip-cache"
  matrix:
    - "TASK=flake8"
    - "TASK=pylint"
    - "TASK=docs"
    - "TASK=tests"
cache:
  directories:
    - $HOME/.pip-cache/
script:
  - ./scripts/travis.sh
services:
  - mongodb
  - rabbitmq
