# Used old infrastructure, needed for integration tests:
# http://docs.travis-ci.com/user/workers/standard-infrastructure/
sudo: true
language: python
python:
  - 2.7

# Note: We enable artifacts addons since we upload integration tests logs to S3
#addons:
#  artifacts:
#    s3_region: "us-west-2"
#    paths:
#      - $(ls /tmp/st2*.log | tr "\n" ":")

env:
  global:
    - ARTIFACTS_DEBUG=1
    - ARTIFACTS_BUCKET=st2travistestslogs
#    - secure: "2k3NMsOqDOXZLGMo+fuTSl35VqR41cm7Z4ZPSduh2ceIMyhgtnKGmElklxV7DxaZtFgl0GD0EZWLSErqlOsjDdAA0IsBMzisQRMBWl+Rqpvjsn2P0jtZBPwe/5OPDpBUqE7t/BOaPBbyTSA9vtLPMhTWdDlR4l28NifAC+k977Q="
#    - secure: "AxPXLPSPGqa8lrwysXxTFHTdEVecK4ZhH91PFu6pZ+IfrSKLek23+CM08J50tmat991swSM8qodhIUfCcvJObcqDFbl295VPYM++H4U9w1dzi571WA0VKZLs3pBhwHf6ACnBX8bzxz3s/7+vE/g2bdrqI6Z6aK3UR98POjbsdOg="
  matrix:
    - TASK=checks
#    - TASK=unit MONGODB=2.4.9
#    - TASK=integration MONGODB=2.4.9
#    - TASK=unit MONGODB=2.6.12
#    - TASK=integration MONGODB=2.6.12
    - TASK=unit MONGODB=3.2.8
    - TASK=integration MONGODB=3.2.8
    - TASK=mistral
    - TASK=packs-tests

matrix:
  fast_finish: true
  allow_failures:
    - env: TASK=mistral

services:
  - postgresql
  - rabbitmq

cache:
  directories:
    - $HOME/.cache/pip/

before_script:
  # Note: We use ramdisk for better performance
  - if [ ${TASK} = 'unit' ] || [ ${TASK} = 'integration' ]; then sudo -E ./scripts/travis/create-and-mount-ramdisk.sh; fi
  - if [ ${TASK} = 'unit' ] || [ ${TASK} = 'integration' ]; then ./scripts/travis/install-and-run-mongodb.sh; fi

install:
  - pip install --upgrade "pip>=8.1.2,<8.2"
  - pip install python-coveralls
  - if [ ${TASK} != 'checks' ]; then pip install python-coveralls; fi
  - make requirements
  - if [ ${TASK} = 'integration' ] || [ ${TASK} = 'mistral' ]; then sudo -E ./scripts/travis/prepare-integration.sh; fi
  - if [ ${TASK} = 'mistral' ]; then sudo -E ./scripts/travis/setup-mistral.sh; fi

script:
  - ./scripts/travis/build.sh

after_success:
  - if [ ${TASK} != 'checks' ]; then coveralls; fi
