FORMAT: 1A
HOST: http://kandra.stackstorm.com

# Kandra
This is a system that provides a way to describe the action (or sequence of actions) to be performed when a monitoring system(Nagios, Zabbix, Ganglia, Cacti etc.) or an external system sends out an event. This system can be thought of a giant dictionary which maintains a mapping between triggers received from a monitoring system and the action to be performed. The core functionality of this system is to invoke actions on emergence of such triggers.

# Group Rules
Rules related resources of the **Kandra API**

## Rules Collection [/rules]

### List all Rules [GET]
+ Response 200 (application/json)

        [{
            "id": 1,
            "enable": true,
            "name": "Kandra repo notification",
            "description": "Sends a message in chat for every commit in stackstorm/kandra repo. The message contains a name of the commit\u0027s author.",
            "trigger_type": { "name": "git:posthook" },
            "criteria": {
                "repo": {
                    "pattern": "stackstorm/kandra",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "mapping": {
                    "channel": "stackstorm",
                    "message": "New commit has been pushed in {{ repo }} by {{ author }}"
                }
            }
        }, {
            "id": 2,
            "enable": true,
            "name": "Support tickets",
            "description": "Creates Jira ticket for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "jira:createTicket",
                "mapping": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }, {
            "id": 3,
            "enable": false,
            "name": "Support notification",
            "description": "Sends a message to the chat for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "mapping": {
                    "channel": "stackstorm",
                    "message": "New user story has been received from {{ from }}"
                }
            }
        }]

### Create a Rule [POST]
+ Request (application/json)

        {
            "name": "Support notification",
            "description": "Sends a message to the chat for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "options": {
                    "channel": "stackstorm",
                    "message": "New user story has been received from {{ from }}"
                }
            }
        }

+ Response 201 (application/json)

        {
            "id": 3,
            "enable": true,
            "name": "Support notification",
            "description": "Sends a message to the chat for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "mapping": {
                    "channel": "stackstorm",
                    "message": "New user story has been received from {{ from }}"
                }
            }
        }

## Rule [/rules/{id}]
A single Rule object with all its details

+ Parameters
    + id (required, number, `2`) ... Numeric `id` of the Rule to perform action with.

### Retrieve a Rule [GET]
+ Response 200 (application/json)

        {
            "id": 2,
            "enable": false,
            "name": "Support tickets",
            "description": "Creates Jira ticket for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "jira:createTicket",
                "mapping": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }

### Update the rule [PUT]
It is actually a tricky one. The idea behind put is that it should replace the whole document, but in our case `id` should always stay the same.

It is unclear how should we treat the expanded trigger\action type (as an object, not a string), I'd say we should silently look for name key inside the object and use it instead, while ignoring the rest of the object. In other words:

        ...
        "trigger": "email:message",
        ...

is equal to

        ...
        "trigger": {
            "name": "email:message"
            ...
        }
        ...

+ Request (application/json)

        {
            "id": 3,
            "enable": true,
            "name": "Support notification",
            "description": "Sends a message to the chat for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "mapping": {
                    "channel": "stackstorm",
                    "message": "New user story has been received from {{ from }}"
                }
            }
        }

+ Response 200 (application/json)

        {
            "id": 3,
            "enable": true,
            "name": "Support notification",
            "description": "Sends a message to the chat for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "hubot:say",
                "mapping": {
                    "channel": "stackstorm",
                    "message": "New user story has been received from {{ from }}"
                }
            }
        }

### Remove a Rule [DELETE]
+ Response 204

## Enable [/rules/{id}/enable]
Enable the rule

+ Parameters
    + id (required, number, `2`) ... Numeric `id` of the Rule

### Enable the rule [PUT]
+ Response 204

### Disable the rule [DELETE]
+ Response 204

## Activate [/rules/{id}/activate]
Promote dry-run rule to permanent one

+ Parameters
    + id (required, number, `2`) ... Numeric `id` of the Rule

### Activate the rule [PUT]
+ Response 200 (application/json)

        {
            "id": 2,
            "enable": false,
            "name": "Support tickets",
            "description": "Creates Jira ticket for every mail received on StackStorm support email.",
            "trigger_type": { "name": "email:message" },
            "criteria": {
                "to": {
                    "pattern": "support@stackstorm.com",
                    "operator": "matchregex"
                }
            },
            "action": {
                "type": "jira:createTicket",
                "mapping": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }


# Group Services

## Triggers collection [/triggers]
### List all Triggers [GET]
+ Response 200 (application/json)

        [{
            "name": "git:prehook",
            "service": "Git",
            "title": "Pre-receive hook",
            "tags": ["git"],
            "slug": "commit is scheduled for merge",
            "parameters": [{
                "key": "author",
                "type": "text",
                "label": "Author",
                "desc": "Name or email of the commit author"
            }, {
                "key": "repo",
                "type": "text",
                "label": "Repository",
                "desc": "Name of the repository"
            }, {
                "key": "branch",
                "type": "text",
                "label": "Branch",
                "desc": "Name of the branch commits would land into"
            }, {
                "key": "title",
                "type": "text",
                "label": "Title",
                "desc": "First line of commit message"
            }, {
                "key": "description",
                "type": "textarea",
                "label": "Description",
                "desc": "Commit message starting with second line"
            }]
        }, {
            "name": "git:posthook",
            "service": "Git",
            "title": "Post-receive hook",
            "tags": ["git"],
            "slug": "commit is merged",
            "parameters": [{
                "key": "author",
                "type": "text",
                "label": "Author",
                "desc": "Name or email of the commit author"
            }, {
                "key": "repo",
                "type": "text",
                "label": "Repository",
                "desc": "Name of the repository"
            }, {
                "key": "branch",
                "type": "text",
                "label": "Branch",
                "desc": "Name of the branch commits would land into"
            }, {
                "key": "title",
                "type": "text",
                "label": "Title",
                "desc": "First line of commit message"
            }, {
                "key": "description",
                "type": "textarea",
                "label": "Description",
                "desc": "Commit message starting with second line"
            }]
        }, {
            "name": "hubot:command",
            "service": "Hubot",
            "title": "Receive a command",
            "tags": ["hubot", "chat"],
            "slug": "recived a command",
            "parameters": [{
                "key": "user",
                "type": "text",
                "label": "User",
                "desc": "Name of the user"
            }, {
                "key": "channel",
                "type": "text",
                "label": "Channel",
                "desc": "Name of the channel to listen for command"
            }, {
                "key": "command",
                "type": "text",
                "label": "Command",
                "desc": "The command to trigger to. Exclamation mark is not necessary."
            }, {
                "key": "args",
                "type": "text",
                "label": "Argument string",
                "desc": "the rest of the message after the command"
            }]
        }, {
            "name": "email:message",
            "service": "Email",
            "title": "Receive a message",
            "tags": ["email"],
            "slug": "received a message",
            "parameters": [{
                "key": "from",
                "type": "text",
                "label": "From",
                "desc": "Senders email address"
            }, {
                "key": "to",
                "type": "text",
                "label": "To",
                "desc": "Recipient email address"
            }, {
                "key": "subj",
                "type": "text",
                "label": "Subject",
                "desc": "Subject line of the mail"
            }, {
                "key": "message",
                "type": "textarea",
                "label": "Message"
            }]
        }, {
            "name": "jira:newTicket",
            "service": "Jira",
            "title": "New ticket",
            "tags": ["jira"],
            "slug": "ticket has been created",
            "parameters": [{
                "key": "project",
                "type": "text",
                "label": "Project",
                "desc": "Name or id of the project"
            }, {
                "key": "summary",
                "type": "text",
                "label": "Summary",
                "desc": "Short description of the ticket"
            }, {
                "key": "description",
                "type": "textarea",
                "label": "Description",
                "desc": "Full description of the ticket"
            }, {
                "key": "type",
                "type": "select",
                "label": "Type",
                "options": ["bug", "story", "feature"]
            }]
        }]

## Actions collection [/actions]
### List all Actions [GET]
+ Response 200 (application/json)

        [{
            "name": "git:createTag",
            "service": "Git",
            "title": "Create new tag",
            "tags": ["git"],
            "slug": "create new tag",
            "parameters": [{
                "key": "tag",
                "type": "text",
                "label": "Tag name",
                "desc": "Name of the tag"
            }, {
                "key": "message",
                "type": "textarea",
                "label": "Message"
            }, {
                "key": "object",
                "type": "text",
                "label": "SHA object",
                "desc": "Identificator of the object to create tag to (ex. commit SHA)"
            }, {
                "key": "type",
                "type": "select",
                "label": "Type",
                "desc": "Type of the object",
                "options": [{
                    "key": "commit",
                    "value": "Commit"
                }, {
                    "key": "tree",
                    "value": "Tree"
                }, {
                    "key": "blob",
                    "value": "Blob"
                }]
            }]
        }, {
            "name": "hubot:say",
            "service": "Hubot",
            "title": "Say in channel",
            "tags": ["hubot", "chat"],
            "slug": "say",
            "parameters": [{
                "key": "channel",
                "type": "text",
                "label": "Channel",
                "desc": "Name of the channel to say to"
            }, {
                "key": "message",
                "type": "textarea",
                "label": "Message"
            }]
        }, {
            "name": "email:message",
            "service": "Email",
            "title": "Send a message",
            "tags": ["email"],
            "slug": "send a message",
            "parameters": [{
                "key": "from",
                "type": "select",
                "label": "From",
                "desc": "Address to send from",
                "options": [
                    "support@stackstorm.com",
                    "info@stackstorm.com",
                    "finance@stackstorm.com",
                    {
                        "key": "Same it was received to",
                        "value": "{{ to }}"
                    }
                ]
            }, {
                "key": "to",
                "type": "text",
                "label": "To",
                "desc": "Recipient email address"
            }, {
                "key": "subj",
                "type": "text",
                "label": "Subject",
                "desc": "Subject line of the mail"
            }, {
                "key": "message",
                "type": "textarea",
                "label": "Message"
            }]
        }, {
            "name": "jira:createTicket",
            "service": "Jira",
            "title": "Create new ticket",
            "tags": ["jira"],
            "slug": "create a ticket",
            "parameters": [{
                "key": "project",
                "type": "text",
                "label": "Project",
                "desc": "Name or id of the project"
            }, {
                "key": "summary",
                "type": "text",
                "label": "Summary",
                "desc": "Short description of the ticket"
            }, {
                "key": "description",
                "type": "textarea",
                "label": "Description",
                "desc": "Full description of the ticket"
            }, {
                "key": "type",
                "type": "select",
                "label": "Type",
                "options": ["bug", "story", "feature"]
            }]
        }]


# Group Methods examples

**(informational)** There is actually a couple of ways you can deal with the methods that are not mapped directly to CRUD or HTTPv1.0 methods (GET, POST, PUT, DELETE). I'll try to display them all and we will figure out which to pick.


## First [/example/1/enable]
First of them is the one Github uses for staring\unstaring the repos. You are creating resource with PUT and DELETE methods and use them to toggle the boolean variable.

This is the method I'm currently using to enable\disable the rule.

### Enable the rule [PUT]
+ Response 204

### Disable the rule [DELETE]
+ Response 204

## Second [/example/2/enable]
Second one is to create its own endpoint for every state of that boolean variable and use it instead. You could also make them GET instead of PUT to be able to use them manually from browser and return the changed document.

### Enable the rule [GET]
+ Response 200

        {
            "id": 2,
            "enable": true,
            "trigger": "email:message",
            "action": {
                "type": "jira:createTicket",
                "options": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }

## Still second [/example/2/disable]

### Disable the rule [GET]
+ Response 200

        {
            "id": 2,
            "enable": false,
            "trigger": "email:message",
            "action": {
                "type": "jira:createTicket",
                "options": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }


## Third [/example/3]
Third one is a PATCH over the document itself. I don't know would it be as easier to do in python as it is in node, but it definitely the most complicated way, yet probably more native to HTTP itself.

### Toggle the flags of the rule [PATCH]
+ Request (application/json)

        {
            "enable": true
        }

+ Response 200 (application/json)

        {
            "id": 2,
            "enable": true,
            "trigger": "email:message",
            "action": {
                "type": "jira:createTicket",
                "options": {
                    "project": "stackstorm",
                    "type": "story",
                    "summary": "Email: {{ subject }}",
                    "description": "{{ from }} wrote: \n{{ body }}",
                    "reporter": "{{ from }}"
                }
            }
        }
