# Packages versions fixed for the whole st2 stack
# Note: amqp is used by kombu
amqp==2.5.2
apscheduler==3.6.3
# NOTE: 2.0 version breaks pymongo work with hosts
dnspython>=1.16.0,<2.0.0
cryptography==3.2
# Note: 0.20.0 removed select.poll() on which some of our code and libraries we
# depend on rely
eventlet==0.25.1
flex==6.14.0
gitpython==2.1.15
# Note: greenlet is used by eventlet
greenlet==0.4.15
gunicorn==19.9.0
jsonpath-rw==1.4.0
jsonschema==2.6.0
kombu==4.6.6
lockfile==0.12.2
mongoengine==0.18.2
networkx==1.11
# NOTE: Recent version substantially affect the performance and add big import time overhead
# See https://github.com/StackStorm/st2/issues/4160#issuecomment-394386433 for details
oslo.config>=1.12.1,<1.13
oslo.utils>=3.36.2,<=3.37.0
paramiko==2.7.1
passlib==1.7.1
prance==0.9.0
prompt-toolkit==1.0.15
pyinotify==0.9.6; platform_system=="Linux"
pymongo==3.10.0
python-editor==1.0.4
python-gnupg==0.4.5
python-keyczar==0.716
pytz==2019.1
pywinrm==0.3.0
pyyaml==5.1.2
requests[security]==2.23.0
retrying==1.3.3
routes==2.4.1
semver==2.9.0
six==1.13.0
# NOTE: sseclient has various issues which sometimes hang the connection for a long time, etc.
sseclient-py==1.7
stevedore==1.30.1
tooz==1.66.1
# Note: We use latest version of virtualenv which uses pip 19
virtualenv==16.6.0
webob==1.8.5
zake==0.2.2
# test requirements below
bcrypt==3.1.7
jinja2==2.10.3
mock==2.0.0
more-itertools==5.0.0
nose-timer==0.7.5
nose-parallel==0.3.1
psutil==5.6.6
python-dateutil==2.8.0
python-statsd==2.1.0
prometheus_client==0.1.1
ujson==1.35
zipp>=0.5,<=1.0.0
