# Packages versions fixed for the whole st2 stack
# Note: amqp is used by kombu
amqp<6.0.0,>=5.1.1
apscheduler==3.7.0
# requests 2.23 requires chardet < 3.1.0
chardet<3.1.0
cffi<1.15.0
# NOTE: 2.0 version breaks pymongo work with hosts
dnspython==2.6.1
cryptography==39.0.1
eventlet==0.35.2
flex==6.14.1
# Note: installs gitpython==3.1.37 (security fixed) under py3.8 and gitpython==3.1.18 (latest available, vulnerable) under py3.6
# TODO: Pin to 3.1.37 or higher after dropping python3.6 support
gitpython<=3.1.37
# Needed by gitpython, old versions used to bundle it
gitdb==4.0.2
# Note: greenlet is used by eventlet (202403: 3.0.3 support for py3.10)
greenlet==3.0.3
gunicorn==21.2.0
jsonpath-rw==1.4.0
jsonschema==3.2.0
# 202403: Update to 5.3.5 for py3.10 support
kombu==5.3.5
lockfile==0.12.2
# Fix MarkupSafe to < 2.1.0 as 2.1.0 removes soft_unicode
# >=0.23 was from jinja2
MarkupSafe<2.1.0,>=0.23
# mongoengine 0.24.0 has breaking changes to support pymongo 4.0
mongoengine>=0.21.0,<0.24.0
# required by orquesta (networkx<2.6 for py3.6, networkx<3 for py3.8)
networkx<3
# networkx requires decorator>=4.3,<5 which should resolve to version 4.4.2
# but the wheel on pypi does not say it supports python3.8, so pip gets
# confused. For now, pin decorator to work around pip's confusion.
decorator==4.4.2
# Use latest (Mar 2024) oslo config for py3.10 support.
oslo.config==9.4.0
oslo.utils==7.1.0
# paramiko 2.11.0 is needed by cryptography > 37.0.0
paramiko==2.11.0
passlib==1.7.4
# 202403: bump to 3.0.43 for py3.10 support
prompt-toolkit==3.0.43
pyinotify==0.9.6 ; platform_system=="Linux"
# pymongo 3.13 has backports of APIs from pymongo 4 to help w/ migration
pymongo>=3.11.0,<3.13.0
pyparsing<3
zstandard==0.15.2
# pyOpenSSL 23.1.0 supports cryptography up to 40.0.x
pyOpenSSL==23.1.0
# 202403: switch from python-editor to editor for py3.10 support
editor==1.6.6
# editor dependency, required here for inclusion in st2client setup.py
Pygments==2.5.2
python-keyczar==0.716
pytz==2021.1
pywinrm==0.4.1
pyyaml==5.3.1
redis==4.1.4
requests[security]==2.25.1
retrying==1.3.3
routes==2.4.1
semver==2.13.0
six==1.13.0
argparse==1.12.2
# 202403: Bumped to latest for py3.10 support
argcomplete==3.2.3
prettytable==2.1.0
# Note: installs importlib-metadata==4.10.1 (security fixed) under py3.8 and importlib-metadata==4.8.3 (latest available, vulnerable) under py3.6
# TODO: Pin to 4.10.1 or higher after dropping python3.6 support
importlib-metadata>=4.8.3,<=4.10.1
# importlib-metadata requires typing-extensions but v4.2.0 requires py3.7+
typing-extensions<4.2
# NOTE: sseclient has various issues which sometimes hang the connection for a long time, etc.
sseclient-py==1.7
stevedore==1.30.1
tenacity>=3.2.1,<7.0.0
tooz==2.8.0
# Note: virtualenv embeds wheels for pip, wheel, and setuptools. So pinning virtualenv pins those as well.
# virtualenv==20.4.0 (<21) has pip==20.3.3 wheel==0.36.2 setuptools==51.3.3
virtualenv==20.4.0
webob==1.8.7
zake==0.2.2
# test requirements below
bcrypt==3.2.0
jinja2==2.11.3
mock==4.0.3
nose-timer==1.0.1
nose-parallel==0.4.0
psutil==5.8.0
python-dateutil==2.8.1
python-statsd==2.1.0
orjson==3.5.2
zipp<3.16.0
