# Packages versions fixed for the whole st2 stack
# Note: amqp is used by kombu
amqp==5.0.6
apscheduler==3.7.0
# requests 2.23 requires chardet < 3.1.0
chardet<3.1.0
cffi<1.15.0
# NOTE: 2.0 version breaks pymongo work with hosts
dnspython>=1.16.0,<2.0.0
cryptography==3.4.7
# Note: 0.20.0 removed select.poll() on which some of our code and libraries we
# depend on rely
eventlet==0.30.2
flex==6.14.1
gitpython==3.1.15
# Needed by gitpython, old versions used to bundle it
gitdb==4.0.2
# Note: greenlet is used by eventlet
greenlet==1.0.0
gunicorn==20.1.0
jsonpath-rw==1.4.0
jsonschema==2.6.0
kombu==5.0.2
lockfile==0.12.2
# Fix MarkupSafe to < 2.1.0 as 2.1.0 removes soft_unicode
# >=0.23 was from jinja2
MarkupSafe<2.1.0,>=0.23
mongoengine==0.23.0
# networkx v2.6 does not support Python3.6.  Update networkx to match orquesta
networkx>=2.5.1,<2.6
# networkx requires decorator>=4.3,<5 which should resolve to version 4.4.2
# but the wheel on pypi does not say it supports python3.8, so pip gets
# confused. For now, pin decorator to work around pip's confusion.
decorator==4.4.2
# NOTE: Recent version substantially affect the performance and add big import time overhead
# See https://github.com/StackStorm/st2/issues/4160#issuecomment-394386433 for details
oslo.config>=1.12.1,<1.13
oslo.utils<5.0,>=4.0.0
paramiko==2.10.5
passlib==1.7.4
prompt-toolkit==1.0.15
pyinotify==0.9.6 ; platform_system=="Linux"
pymongo==3.11.3
pyparsing<3
zstandard==0.15.2
# pyOpenSSL 22.0.0 requires cryptography>=35.0
pyOpenSSL<=21.0.0
python-editor==1.0.4
python-keyczar==0.716
pytz==2021.1
pywinrm==0.4.1
pyyaml==5.4.1
redis==4.1.4
requests[security]==2.25.1
retrying==1.3.3
routes==2.4.1
semver==2.13.0
six==1.13.0
argparse==1.12.2
argcomplete==1.12.2
prettytable==2.1.0
importlib-metadata==3.10.1
# importlib-metadata requires typing-extensions but v4.2.0 requires py3.7+
typing-extensions<4.2
# NOTE: sseclient has various issues which sometimes hang the connection for a long time, etc.
sseclient-py==1.7
stevedore==1.30.1
tenacity>=3.2.1,<7.0.0
tooz==2.8.0
# Note: virtualenv embeds wheels for pip, wheel, and setuptools. So pinning virtualenv pins those as well.
# virtualenv==20.4.0 (<21) has pip==20.3.3 wheel==0.36.2 setuptools==51.3.3
virtualenv==20.4.0
webob==1.8.7
zake==0.2.2
# test requirements below
bcrypt==3.2.0
jinja2==2.11.3
mock==4.0.3
nose-timer==1.0.1
nose-parallel==0.4.0
psutil==5.8.0
python-dateutil==2.8.1
python-statsd==2.1.0
orjson==3.5.2
zipp<3.16.0
