apscheduler>=3.0.0rc1
eventlet>=0.13.0
flask
flask-jsonschema
gitpython==0.3.2.1
jinja2
jsonschema>=2.3.0
ipaddr
kombu
mongoengine>=0.8.7,<0.9
oslo.config>=1.12.1,<1.13
paramiko
-e git+https://github.com/StackStorm/pecan.git@st2-patched#egg=pecan
pymongo<3.0
python-dateutil
python-json-logger
pyyaml
requests
setuptools==11.1
six==1.9.0
tooz==1.20.0
git+https://github.com/StackStorm/python-mistralclient.git@st2-0.13.0
git+https://github.com/StackStorm/fabric.git@stanley-patched
passlib>=1.6.2,<1.7
lockfile>=0.10.2,<0.11
python-gnupg>=0.3.7,<0.4
jsonpath-rw>=1.3.0
# Requirements for linux pack
# used by file watcher sensor
pyinotify>=0.9.5,<=0.10
-e git+https://github.com/Kami/logshipper.git@stackstorm_patched#egg=logshipper
# used by nmap actions
python-nmap>=0.3.4,<0.4
semver>=2.1.2
