# Don't edit this file. It's generated automatically!
RandomWords
apscheduler==3.5.1
argcomplete
bcrypt
cryptography==2.2.2
eventlet==0.23.0
flex==6.13.1
git+https://github.com/StackStorm/orchestra.git#egg=orchestra
git+https://github.com/StackStorm/python-mistralclient.git#egg=python-mistralclient
git+https://github.com/StackStorm/st2-auth-backend-flat-file.git@master#egg=st2-auth-backend-flat-file
gitpython==2.1.10
greenlet==0.4.13
gunicorn==19.8.1
inotify==0.2.9
ipaddr
jinja2
jsonpath-rw==1.4.0
jsonschema==2.6.0
kombu==4.2.1
lockfile==0.12.2
mock==2.0.0
mongoengine==0.12.0
networkx==1.11
nose
nose-timer<0.8,>=0.7.2
oslo.config<1.13,>=1.12.1
oslo.utils<=3.37.0,>=3.36.2
paramiko==2.4.1
passlib==1.7.1
prettytable
prometheus_client==0.1.1
prompt-toolkit==1.0.15
psutil==5.4.5
pymongo==3.6.1
pyrabbit
python-dateutil
python-editor==1.0.3
python-gnupg==0.4.2
python-json-logger
python-statsd==2.1.0
pytz==2018.4
pyyaml<4.0,>=3.12
rednose
requests[security]<2.15,>=2.14.1
retrying==1.3.3
routes==2.4.1
semver==2.8.0
six==1.11.0
sseclient==0.0.19
stevedore==1.28.0
tooz==1.62.0
unittest2
webob==1.7.4
webtest
zake==0.2.2
