# Add/remove direct 3rd party dependencies here, with version constraints if necessary.
# Then run `./pants generate-lockfiles --resolve=st2` to regenerate the lockfile.
#
# Please do not add transitive dependencies in this file (ie dependencies of our dependencies).
# Use `lockfiles/st2-constraints.txt` to constrain the version of these transitive dependencies.
#
# Please keep this list alphabetical, with tooz backends in a separate list.

apscheduler
argcomplete
argparse
ciso8601
cryptography
editor
eventlet
# flex parses the openapi 2 spec in our router
flex
# gitpython & gitdb are used for pack management
gitdb
gitpython
# st2common/tests/integration/test_util_green.py requires greenlet (as does eventlet)
greenlet
gunicorn
jinja2
jsonpath-rw
jsonschema>=3,<4
kombu
lockfile
mock
# mongoengine 0.24.0 has breaking changes to support pymongo 4.0
# mongoengine 0.29.0 is the first version to officially support mongo 7.0.
mongoengine>=0.24.0,<0.30.0
# networkx version is constrained in orquesta.
networkx
orjson
orquesta @ git+https://github.com/StackStorm/orquesta.git@5ba1467614b2ef8b4709b2ca89e68baa671e8975
# Historical reference: https://github.com/StackStorm/st2/issues/4160#issuecomment-394386433
# Relaxed pinning for py3.10 support.
oslo.config
paramiko
# we use pip at runtime
pip
# prance is used by st2-validate-api-spec to validate the openapi spec
# prance needs flex, but do not use the extra as that gets an old version.
prance
prettytable
prompt-toolkit
psutil
pygments
# pymongo 3.13 has backports of APIs from pymongo 4 to help w/ migration
# pymongo 4.4 is the first version to officially support mongo 7.0.
# pymongo 4.7 (or 4.8?) introduces support for standard python logging, which overwhelms our debug logs
pymongo>=4.0.0,<4.7
# pyrabbit used in an integration test
pyrabbit
# pytest reqs in BUILD.tools file
python-dateutil
# pythonjsonlogger referenced in st2actions/conf/logging.conf
python-json-logger
python-statsd
pytz
PyYAML
# RandomWords used in some tests
RandomWords
requests
retrying
routes
semver
# setuptools provides pkg_resources (and we need it with pip at runtime)
# setuptools is also required for pants to build wheels.
setuptools
simplejson
six
# NOTE: we use sseclient-py instead of sseclient because sseclient
# has various issues which sometimes hang the connection for a long time, etc.
sseclient-py
stevedore
# For backward compatibility reasons, flat file backend is installed by default
st2-auth-backend-flat-file
st2-auth-ldap @ git+https://github.com/StackStorm/st2-auth-ldap.git@master
st2-auth-backend-pam @ git+https://github.com/StackStorm/st2-auth-backend-pam.git@master
st2-rbac-backend @ git+https://github.com/StackStorm/st2-rbac-backend.git@master
# tabulate used by tools/log_watcher.py
tabulate
tooz
udatetime
ujson
virtualenv
webob
webtest
# we use pip+wheel at runtime; wheel is also required for pants to build wheels.
wheel
# zstandard is used for micro benchmarks
zstandard

# tooz backends
redis
zake

# was in fixed-requirements.txt, but not in requirements-pants.txt
# keyczar is used by a python2-only test.
#python-keyczar
