# Don't edit this file. It's generated automatically!
apscheduler>=3.0.0rc1
eventlet>=0.13.0
git+https://github.com/Kami/logshipper.git@stackstorm_patched#egg=logshipper
git+https://github.com/StackStorm/fabric.git@stanley-patched#egg=fabric
git+https://github.com/StackStorm/python-mistralclient.git@st2-0.9.0#egg=python-mistralclient
gitpython==0.3.2.1
jinja2
jsonpath-rw>=1.3.0
jsonschema>=2.3.0
kombu
lockfile<0.11,>=0.10.2
mongoengine<0.9,>=0.8.7
oslo.config
paramiko
passlib<1.7,>=1.6.2
pecan==0.7.0
prettytable
pyinotify<=0.10,>=0.9.5
pymongo<3.0
python-dateutil
python-gnupg<0.4,>=0.3.7
python-nmap<0.4,>=0.3.4
pyyaml
requests
semver>=2.1.2
six==1.9.0
tooz