# NOTE: codecov only supports coverage==4.5.2
coverage==4.5.2
pep8==1.7.1
flake8==3.6.0
astroid==1.6.5
pylint==1.9.3
pylint-plugin-utils>=0.4
bandit==1.5.1
ipython<6.0.0
mock==2.0.0
nose>=1.3.7
tabulate
unittest2
sphinx==1.7.9
sphinx-autobuild
# nosetests enhancements
rednose
nose-timer>=0.7.4,<0.8
# splitting tests run on a separate CI machines
nose-parallel==0.3.1
# Required by st2client tests
pyyaml>=4.2b4,<5.2
RandomWords
gunicorn==19.9.0
psutil==5.4.8
webtest==2.0.25
rstcheck>=3.3.1,<3.4
tox==3.7.0
pyrabbit
# Since StackStorm v2.8.0 we now use cryptography instead of keyczar, but we still have some tests
# which utilize keyczar and ensure new cryptography code is fully compatible with keyczar code
# (those tests only run under Python 2.7 since keyczar doesn't support Python 3.x).
# See https://github.com/StackStorm/st2/pull/4165
python-keyczar
