coverage
pep8==1.7.1
flake8==3.5.0
astroid==1.6.4
pylint==1.8.4
pylint-plugin-utils>=0.2.6,<0.3
bandit==1.4.0
ipython<6.0.0
mock==2.0.0
nose>=1.3.7
tabulate
unittest2
sphinx==1.7.5
sphinx-autobuild
# nosetests enhancements
rednose
nose-timer>=0.7.2,<0.8
# splitting tests run on a separate CI machines
nose-parallel
# Required by st2client tests
pyyaml<4.0,>=3.12
RandomWords
gunicorn==19.7.1
psutil==5.4.5
webtest==2.0.25
rstcheck>=3.3.0,<3.4
pyrabbit
python-keyczar
