coverage
pep8==1.7.1
st2flake8==0.1.0
astroid==2.5.6
pylint==2.8.2
pylint-plugin-utils>=0.4
black==22.3.0
pre-commit==2.1.0
bandit==1.7.0
ipython<6.0.0
isort>=4.2.5
mock==4.0.3
nose>=1.3.7
tabulate
unittest2
sphinx==1.7.9
sphinx-autobuild
# nosetests enhancements
rednose
nose-timer==1.0.1
# splitting tests run on a separate CI machines
nose-parallel==0.4.0
# Required by st2client tests
pyyaml==5.4.1
RandomWords
gunicorn==21.2.0
psutil==5.8.0
webtest==2.0.35
rstcheck>=3.3.1,<3.4
tox==3.23.0
pyrabbit
prance==0.15.0
# pip-tools provides pip-compile: to check for version conflicts
# pip-tools 5.3 needs pip<20.3
# pip-tools 5.4 needs pip>=20.1
# pip-tools 6.0 needs pip>=20.3
pip-tools>=5.4,<6.1
pytest==6.2.3
pytest-benchmark==3.4.1
pytest-benchmark[histogram]==3.4.1
# zstandard is used for micro benchmarks
zstandard==0.15.2
# ujson is used for micro benchmarks
ujson==4.0.2
# needed by integration tests for coordination
redis==3.5.3
