Source: st2debug
Section: Miscellaneous
Priority: optional
Maintainer: StackStorm Engineering <opsadmin@stackstorm.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.stackstorm.com
#Vcs-Git: git://git.debian.org/collab-maint/st2debug.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/st2debug.git;a=summary

Package: st2debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: StackStorm Debug tool
 This is a description that should be much better before we ship this.
