# Don't edit this file. It's generated automatically!
# If you want to update global dependencies, modify fixed-requirements.txt
# and then run 'make requirements' to update requirements.txt for all
# components.
# If you want to update depdencies for a single component, modify the
# in-requirements.txt for that component and then run 'make requirements' to
# update the component requirements.txt
RandomWords
mock==2.0.0
nose
nose-parallel==0.3.1
nose-timer==0.7.5
psutil==5.6.6
pyrabbit
rednose
unittest2
webtest
