apscheduler
python-dateutil
eventlet
git+https://github.com/StackStorm/fabric.git@stanley-patched#egg=fabric
jinja2
kombu
git+https://github.com/StackStorm/python-mistralclient.git@st2-0.9.0#egg=python-mistralclient
oslo.config
requests
six
pyyaml
# needed by core "packs" pack
gitpython
