# Remember to list implicit packages here, otherwise version won't be fixated!
apscheduler
python-dateutil
eventlet
jinja2
kombu
oslo.config
oslo.utils
pyparsing
requests
# urllib3 is a transitive dep
urllib3
six
pyyaml
python-json-logger
# needed by core "packs" pack
gitpython
lockfile
# needed by core "linux" pack - TODO: create virtualenv for linux pack on postinst
pyinotify
logshipper@ git+https://github.com/StackStorm/logshipper.git@stackstorm_patched ; platform_system=="Linux"
# required by pack_mgmt/setup_virtualenv.py#L135
virtualenv
# needed by requests
chardet
# needed by kombu (dh_virtualenv on ubuntu focal is failing to put tzdata in the wheelhouse)
backports.zoneinfo[tzdata]; python_version<"3.9"
