# Don't edit this file. It's generated automatically!
# If you want to update global dependencies, modify fixed-requirements.txt
# and then run 'make requirements' to update requirements.txt for all
# components.
# If you want to update depdencies for a single component, modify the
# in-requirements.txt for that component and then run 'make requirements' to
# update the component requirements.txt
apscheduler==3.11.0
backports.zoneinfo[tzdata]; python_version<"3.9"
chardet==5.2.0
eventlet==0.39.0
gitpython==3.1.44
jinja2==3.1.5
kombu==5.4.2
lockfile==0.12.2
logshipper@ git+https://github.com/StackStorm/logshipper.git@stackstorm_patched ; platform_system=="Linux"
oslo.config==9.6.0
oslo.utils==7.3.0
pyinotify==0.9.6 ; platform_system=="Linux"
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-json-logger
pyyaml==6.0.2
requests==2.32.3
six==1.17.0
urllib3==2.2.3
