# Remember to list implicit packages here, otherwise version won't be fixated!
apscheduler
python-dateutil
eventlet
jsonpath-rw
jsonschema
kombu
oslo.config
six
# needed by kombu (dh_virtualenv on ubuntu focal is failing to put tzdata in the wheelhouse)
backports.zoneinfo[tzdata]; python_version<"3.9"
