# Don't edit this file. It's generated automatically!
apscheduler==3.6.0
eventlet==0.24.1
jsonpath-rw==1.4.0
jsonschema==2.6.0
kombu==4.5.0
oslo.config<1.13,>=1.12.1
python-dateutil==2.8.0
six==1.12.0
