[Unit]
Description=StackStorm service st2actionrunner
After=network.target
JoinsNamespaceOf=st2actionrunner.service

[Service]
Type=simple
User=root
Group=st2packs
UMask=002
Environment="DAEMON_ARGS=--config-file /etc/st2/st2.conf"
Environment="WORKERID=%i"
EnvironmentFile=-/etc/sysconfig/st2actionrunner
ExecStart=/opt/stackstorm/st2/bin/st2actionrunner $DAEMON_ARGS
TimeoutSec=60
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
