# {{ name | title }} Integration Pack

{%- if description %}{{ description }}{% endif %}

## Pre-requisites

[... you should list all external dependencies your pack has ...]

## Configuration

[... describe configuration of your pack and what each option means ...]

## Sensors

[... list all the sensors in the pack with a short description ...]

## Actions

[... list all the actions in the pack with a short description ...]

## Rules

[... list all the rules in the pack with a short description ...]

## Triggers

[... list all the triggers in the pack with a short description ...]
