<h3 class="sk0-react__type">Testing</h3>
<div class="sk0-rule-test" rule="result" type="trigger" status="logs"></div>
<div class="sk0-rule-test" rule="result" type="action" status="logs"></div>
<div class="sk0-react__buttons">
  <button class="sk0-react__button--right" ng-click="save()"
    ng-disabled="!isPassed('trigger') || !isPassed('action')">Save</button>
  <button class="sk0-react__button--right" ng-click="save()">Skip testing and save</button>
  <button class="sk0-react__button--left" ng-click="cancel()">Cancel</button>
</div>
