[Unit]
Description=StackStorm service st2actionrunner
After=network.target

[Service]
Type=simple
Environment="DAEMON_ARGS=--config-file /etc/st2/st2.conf"
Environment="WORKERID=%i"
EnvironmentFile=-/etc/sysconfig/st2actionrunner
ExecStart=/usr/share/python/st2/bin/st2actionrunner $DAEMON_ARGS
TimeoutSec=60
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
