# Remeber to list implicit packages here, otherwise version won't be fixated!
apscheduler
python-dateutil
eventlet
# used by eventlet
greenlet
jinja2
jsonschema
kombu
mongoengine
networkx
git+https://github.com/StackStorm/orquesta.git@3028c158cbf510e1253d1988058089a6f1c343ed#egg=orquesta
oslo.config
paramiko
pyyaml
pymongo
cryptography
requests
retrying
semver
six
tooz
# Required by tooz - on new versions of tooz, all the backend dependencies need
# to be installed manually
zake
ipaddr
routes
flex
webob
jsonpath-rw
python-statsd
prometheus_client
ujson
