# Don't edit this file. It's generated automatically!
apscheduler==3.5.3
cryptography==2.3.1
eventlet==0.24.1
flex==6.13.2
git+https://github.com/StackStorm/mongoengine.git@stackstorm_patched#egg=mongoengine
git+https://github.com/StackStorm/orquesta.git@251d72113bd0586bc57529d340d0e62c8e575943#egg=orquesta
greenlet==0.4.15
ipaddr
jinja2
jsonpath-rw==1.4.0
jsonschema==2.6.0
kombu==4.2.1
networkx==1.11
oslo.config<1.13,>=1.12.1
paramiko==2.4.2
prometheus_client==0.1.1
pymongo==3.7.2
python-dateutil==2.7.4
python-statsd==2.1.0
pyyaml==3.13
requests[security]<2.15,>=2.14.1
retrying==1.3.3
routes==2.4.1
semver==2.8.1
six==1.11.0
tooz==1.63.1
ujson==1.35
webob==1.8.2
zake==0.2.2
