# Don't edit this file. It's generated automatically!
# If you want to update global dependencies, modify fixed-requirements.txt
# and then run 'make requirements' to update requirements.txt for all
# components.
# If you want to update depdencies for a single component, modify the
# in-requirements.txt for that component and then run 'make requirements' to
# update the component requirements.txt
amqp==5.3.1
apscheduler==3.11.0
backports.zoneinfo[tzdata]; python_version<"3.9"
cffi==1.17.1
chardet==5.2.0
ciso8601
cryptography==43.0.3
decorator==5.2.1
dnspython
eventlet==0.39.0
flex==6.14.1
gitdb==4.0.12
gitpython==3.1.44
greenlet==3.1.1
jinja2==3.1.5
jsonpath-rw==1.4.0
jsonschema==3.2.0
kombu==5.4.2
lockfile==0.12.2
mongoengine==0.29.1
networkx==3.1
orjson==3.10.15
orquesta@ git+https://github.com/StackStorm/orquesta.git@5ba1467614b2ef8b4709b2ca89e68baa671e8975
oslo.config==9.6.0
paramiko==3.5.1
pyOpenSSL
pymongo==4.6.3
python-dateutil==2.9.0.post0
python-statsd==2.1.0
pyyaml==6.0.2
redis==5.2.1
requests==2.32.3
retrying==1.3.4
routes==2.5.1
semver==3.0.4
six==1.17.0
st2-rbac-backend@ git+https://github.com/StackStorm/st2-rbac-backend.git@master
tenacity==9.0.0
tooz==6.3.0
urllib3==2.2.3
webob==1.8.9
zake==0.2.2
zstandard==0.23.0
