# Don't edit this file. It's generated automatically!
# If you want to update global dependencies, modify fixed-requirements.txt
# and then run 'make requirements' to update requirements.txt for all
# components.
# If you want to update depdencies for a single component, modify the
# in-requirements.txt for that component and then run 'make requirements' to
# update the component requirements.txt
amqp==5.3.1
apscheduler==3.11.3
backports.zoneinfo[tzdata]; python_version<"3.9"
cffi==2.1.1
chardet==7.6.0
ciso8601
cryptography==50.0.1
decorator==5.3.1
dnspython
eventlet==0.41.2
gevent==26.8.0
gitdb==4.0.12
gitpython==3.1.61
greenlet==3.5.5
importlib_resources==6.5.2
jinja2==3.1.6
jsonpath-rw==1.4.0
jsonschema==4.26.0
kombu==5.6.2
lockfile==0.12.2
mongoengine==0.29.3
networkx==3.3
openapi-spec-validator==0.9.0
orjson==3.12.0
orquesta@ git+https://github.com/StackStorm/orquesta.git
oslo.config==9.6.0
paramiko==3.5.1
pyOpenSSL<25.2
pymongo==4.6.3
pynacl==1.6.2
python-dateutil==2.9.0.post0
python-statsd==2.1.0
pyyaml==6.0.3
redis==8.1.0
requests==2.34.2
retrying==1.4.2
routes==2.5.1
semver==3.0.4
six==1.17.0
st2-rbac-backend@ git+https://github.com/StackStorm/st2-rbac-backend.git@master
tenacity==9.1.4
tooz==8.1.0
urllib3==2.7.0
webob==1.8.11
zake==0.2.2
zstandard==0.25.0
