@import "colors";

.sk0-rule-constructor {
  display: inline-block;
  width: 100%;
  position: relative;

  &__call-for-action, &__constructor {
    font-size: 28px;
    line-height: 90px;
    height: 90px;
    text-align: center;
    display: block;
    z-index: 1;
  }

  &__call-for-action {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: @body-bg-color;
  }

  &__spec {
    &-trigger, &-action {
      position: absolute;
      text-align: center;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-trigger {
      top: 0;
      left: 0;
      min-width: 66%;
    }

    &-action {
      bottom: 0;
      right: 0;
      min-width: 72%;
    }
  }

  &:hover &__call-for-action {
    display: none;
  }

  &__this, &__that {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }

  &__link {
    position: absolute;
    display: block;
    left: 50%;
    height: 10px;
    border-left: 1px solid @text;
  }

  &__this &__link {
    top: -10px;
  }

  &__that &__link {
    bottom: -10px;
  }
}
