# Remember to list implicit packages here, otherwise version won't be fixated!
eventlet
jsonschema
kombu
mongoengine
pymongo
oslo.config
oslo.utils
pyparsing
pymongo
six
gunicorn@ git+https://github.com/benoitc/gunicorn.git@792edf6d9aabcbfb84e76be1d722ac49c32dc027
