# Remeber to list implicit packages here, otherwise version won't be fixated!
eventlet
jsonschema
kombu
mongoengine
pymongo
oslo.config
stevedore
pymongo
six
git+https://github.com/StackStorm/pecan.git@st2-patched#egg=pecan
git+https://github.com/StackStorm/python-mistralclient#egg=python-mistralclient
