@font-face {
  font-family: 'stkandra';
  src: url('../font/stkandra.eot?34310392');
  src: url('../font/stkandra.eot?34310392#iefix') format('embedded-opentype'),
       url('../font/stkandra.woff?34310392') format('woff'),
       url('../font/stkandra.ttf?34310392') format('truetype'),
       url('../font/stkandra.svg?34310392#stkandra') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stkandra';
    src: url('../font/stkandra.svg?34310392#stkandra') format('svg');
  }
}
*/
 
 [class^="sk0-icon__"]:before, [class*=" sk0-icon__"]:before {
  font-family: "stkandra";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sk0-icon__cancel:before { content: '\e802'; } /* '' */
.sk0-icon__cog:before { content: '\e801'; } /* '' */
.sk0-icon__off:before { content: '\e800'; } /* '' */