# Don't edit this file. It's generated automatically!
bcrypt==3.1.7
eventlet==0.25.0
git+https://github.com/StackStorm/st2-auth-backend-flat-file.git@master#egg=st2-auth-backend-flat-file
gunicorn==19.9.0
oslo.config<1.13,>=1.12.1
passlib==1.7.1
pymongo==3.9.0
six==1.12.0
stevedore==1.30.1
