name: ci-checks

on:
  push:
    branches: ['*']
    tags:
      - v*
  pull_request:
    type: [opened, reopened, edited]
  schedule:
    # run every night at midnight
    - cron:  '0 0 * * *'

jobs:
  ci-checks:
    name: '${{ matrix.task }} - python (${{ matrix.python-version }})'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.6'
        task:
          - 'ci-checks'
          - 'compilepy3'
          - 'ci-packs-tests'
          - 'ci-unit'
          - 'ci-integration'
    services:
      mongo:
        image: mongo:4.0
        ports:
          - 27017:27017
      rabbitmq:
        # use the -management version so it has the management tools installed
        image: rabbitmq:3.8-management
        ports:
          # standard port
          - 5672:5672
          # management port
          - 15672:15672
    env:
      TASK: '${{ matrix.task }}'
      
      # We need to explicitly specify terminal width otherwise some CLI tests fail on container
      # environments where small terminal size is used.
      COLUMNS: '120'
      PYLINT_CONCURRENCY: '2'
      
      # Travis-specific st2.conf (with travis user instead of stanley)
      ST2_CONF: 'conf/st2.travis.conf'
    steps:
      - name: Custom Environment Setup
        # built-in GitHub Actions environment variables
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables
        #
        # setting environment variables, so we can use shell logic
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
        run: |
          IS_NIGHTLY_BUILD=$([ "${GITHUB_EVENT_NAME}" = "schedule" ] && echo "yes" || echo "no")
          echo "IS_NIGHTLY_BUILD=${IS_NIGHTLY_BUILD}" >> $GITHUB_ENV
          
          # NOTE: We only enable coverage for master builds and not pull requests
          # since it has huge performance overhead (tests are 50% or so slower)
          ENABLE_COVERAGE=$([ "${GITHUB_EVENT_NAME}" != "pull_request" ] && [ "${IS_NIGHTLY_BUILD}" = "no" ] && echo "yes" || echo "no")
          echo "ENABLE_COVERAGE=${ENABLE_COVERAGE}" >> $GITHUB_ENV
          
          # We only run tests with "--with-timer" flag on master and not for PRs since it adds 1-2
          # minutes of overhead to each build.
          NOSE_TIME=$([ "${GITHUB_EVENT_NAME}" != "pull_request" ] && [ "${IS_NIGHTLY_BUILD}" = "no" ] && echo "yes" || echo "no")
          echo "NOSE_TIME=${NOSE_TIME}" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: 'Set up Python (${{ matrix.python-version }})'
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python-version }}'
      - uses: actions/cache@v2
        with:
          path: |
            .cache/pip
            virtualenv
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('requirements.txt', 'test-requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python }}-
      - name: Install apt depedencies
        run: |
          # install dev dependencies for Python LDAP module
          # https://github.com/StackStorm/st2-auth-ldap
          sudo apt-get -y update
          sudo apt-get -y install libldap2-dev libsasl2-dev libssl-dev ldap-utils
      - name: Install virtualenv
        run: |
          # Note: We use latest version of virtualenv which uses pip 19
          pip install --upgrade --force-reinstall virtualenv==16.0.0
      - name: Install requirements
        run: |
          ./scripts/travis/install-requirements.sh
      - name: Setup integration tests
        run: |
          # prep a travis-specific dev conf file that uses travis instead of stanley
          cp conf/st2.dev.conf "${ST2_CONF}" ; sed -i -e "s/stanley/travis/" "${ST2_CONF}"
          sudo scripts/travis/add-itest-user-key.sh
          sudo .circle/add-itest-user.sh
      - name: Permissions Workaround
        if: "${{ env.TASK == 'ci-packs-tests' || env.TASK == 'ci-integration' }}"
        run: |
          echo "$GITHUB_WORKSPACE"
          sudo GITHUB_WORKSPACE="${GITHUB_WORKSPACE}" scripts/travis/permissions-workaround.sh
      - name: Print versions
        run: |
          # Print various binary versions
          git --version
          pip --version
          pip list
          # Print out various environment variables info
          make play
      - name: Debug virtualenv
        run: |
          sed -i 's/from virtualenv import main/import virtualenv; import sys; import os; sys.stderr.write(os.path.abspath(virtualenv.__file__) + os.linesep)\n&/' /opt/hostedtoolcache/Python/3.6.12/x64/bin/virtualenv
          
          cat /opt/hostedtoolcache/Python/3.6.12/x64/bin/virtualenv
      - name: Debug virtualenv version
        run: |
          python -c 'import virtualenv; print(virtualenv.__version__)'
      - name: Debug virtualenv path
        run: |
          python -c 'import virtualenv; import os; print(os.path.abspath(virtualenv.__file__))'
      - name: Debug virtualenv.py
        run: |
          cat $(python -c 'import virtualenv; import os; print(os.path.abspath(virtualenv.__file__))')
      - name: Debug virtualenv help
        run: |
          virtualenv --help
      - name: make
        run: |
          make ${TASK}
      # - name: Nightly
      #   # Run any additional nightly checks only as part of a nightly (cron) build
      #   if: "${{ env.IS_NIGHTLY_BUILD == 'yes' }}"
      #   run: |
      #     ./scripts/travis/run-nightly-make-task-if-exists.sh "${TASK}"
      # - name: Codecov
      #   # NOTE: We only generate and submit coverage report for master and version branches
      #   if: "${{ ((env.TASK == 'ci-unit') || (env.TASK == 'ci-integration')) && (env.ENABLE_COVERAGE == 'yes') }}"
      #   run: |
      #     ./scripts/travis/submit-codecov-coverage.sh
